<%- include("templates/header") %> 

<h1>Home Page</h1>

<button class="btn btn-primary rounded-pill px-3" type="button" onclick="location.href = '/createUser';" id="signUp">Sign Up</button>
<button class="btn btn-success rounded-pill px-3" type="button" onclick="location.href = '/login';" id="login">Log In</button>
<button class="btn btn-danger rounded-pill px-3" type="button" onclick="location.href = '/404';" id="404">404 page</button>
<button class="btn btn-secondary rounded-pill px-3" type="button" onclick="location.href = '/members';" id="cat" >Cats</button>
<button class="btn btn-warning rounded-pill px-3" type="button" onclick="location.href = '/admin';" id="admin">Admin</button>
<%- include("templates/footer") %> 