<%- include("templates/header") %> 
    You are logged in!

    <p><button class="btn btn-info rounded-pill px-3" type="button"onclick="location.href = '/members';" id="members">Member page</button>
    </p>
    <button class="btn btn-warning rounded-pill px-3" type="button" onclick="location.href = '/';" id="home">Home Page</button>

<%- include("templates/footer") %> 