<%- include("templates/header") %> 
    <h1>You are logged out.</h1>
    
    <p><button class="btn btn-primary rounded-pill px-3" type="button" onclick="location.href = '/';" id="homePage">Home Page</button>
    </p>

   
<%- include("templates/footer") %> 